// -----------------------------------------------------------------------------
// This file contains all @font-face declarations & applications
// -----------------------------------------------------------------------------
@font-face {
  font-family: 'Parnaso';
  src        : url('../fonts/Parnaso-MediumCondensed.woff2') format('woff2'),
    url('../fonts/Parnaso-MediumCondensed.woff') format('woff');
  font-weight: 500;
  font-style : normal;
}

body {
  font-family   : 'Open Sans', sans-serif;
  font-size     : 18px;
  font-weight   : 300;
  font-style    : normal;
  font-stretch  : condensed;
  line-height   : 1.56;
  letter-spacing: 0.2px;
  color         : #333333;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Parnaso', 'Open Sans', sans-serif;
}

p {
  font-size  : 14px;
  font-weight: 300;


  @include for-xl {
    font-size: 18px;
  }

  &.op-condensed-20 {
    font-size     : 20px;
    line-height   : 1.5;
    letter-spacing: 0.2px;
    font-style    : normal;
    font-stretch  : condensed;
    font-family   : 'Open Sans Condensed', sans-serif;
  }

}

h1,
h2,
h3,
h4,
h5,
h6 {
  &.open-sans {
    font-family: 'Open Sans', sans-serif;
  }
}