.o-form-container {
  border-top   : 1px solid rgba(0, 69, 48, 0.1);
  border-bottom: 1px solid rgba(0, 69, 48, 0.1);
  padding      : 18px 0 10px 0;

  @include for-xl {
    border-top   : 0;
    border-bottom: 2px solid rgba(0, 69, 48, 0.1);
    padding      : 28px 0 20px 0;
  }
}

.o-form-item {
  .label {
    font-size     : 11px;
    font-weight   : bold;
    font-style    : normal;
    font-stretch  : normal;
    line-height   : 1.27;
    letter-spacing: normal;
    color         : var(--primary-color);
  }
  @include for-xl {
    font-size     : 13px;
  }
}

/* Customize the label (the container-checkbox) */
.container-checkbox {
  display            : block;
  position           : relative;
  padding-left       : 25px;
  margin-bottom      : 12px;
  cursor             : pointer;
  font-size          : 22px;
  -webkit-user-select: none;
  -moz-user-select   : none;
  -ms-user-select    : none;
  user-select        : none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity : 0;
  cursor  : pointer;
  height  : 0;
  width   : 0;
}

/* Create a custom checkbox */
.checkmark {
  position        : absolute;
  top             : 50%;
  left            : 0;
  height          : 17px;
  width           : 17px;
  background-color: #ffffff;
  border          : 2px solid rgba(159, 127, 101, 0.34);
  margin-top      : -8px;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input~.checkmark {
  background-color: #ffffff;
  border          : 2px solid rgba(159, 127, 101, 0.64);

}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked~.checkmark {
  background-color: #ffffff;
  border          : 2px solid #f48227;

}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content : "";
  position: absolute;
  display : none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left             : 4px;
  top              : 1px;
  width            : 5px;
  height           : 10px;
  border           : solid #f48227;
  border-width     : 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform    : rotate(45deg);
  transform        : rotate(45deg);
}