// -----------------------------------------------------------------------------
// This file contains all styles related to the slogan block of the site/application.
// -----------------------------------------------------------------------------
.slogan-block {
  h2 {
    width         : 756px;
    object-fit    : contain;
    font-size     : 46px;
    font-weight   : 500;
    line-height   : 1.22;
    letter-spacing: normal;
    color         : var(--white);
    padding       : 100px 0;

    &.w-100 {
      width: 100%;
    }
  }

  h3 {
    font-size     : 34px;
    font-weight   : 500;
    font-style    : normal;
    font-stretch  : condensed;
    line-height   : 1.47;
    letter-spacing: 0.3px;
    color         : var(--white);
    padding       : 86px 0;
    a{
      color: var(--white);
      text-decoration: underline;
      &:hover{
        color: var(--active-color)
      }
    }
  }

  @include for-xs {
    h2,h3 {
      width      : auto;
      font-size  : 24px;
      line-height: 1.42;
      padding    : 55px 16px;

    }
  }

  @include for-md {
    h2 {
      width      : 574px;
      font-size  : 32px;
      line-height: 1.31;
    }
  }

  @include for-lg {
    h2 {
      width      : 598px;
      font-size  : 36px;
      line-height: 1.28;

    }
  }
}